<%= form_with(model: photo, class: "contents", html: { multipart: true }) do |form| %>
  <% if photo.errors.any? %>
    <!-- błędy -->
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "..." %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, direct_upload: true, class: "..." %>
  </div>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: "..." %>
  </div>

  <div class="inline">
    <%= form.submit class: "..." %>
  </div>
<% end %>
