<% content_for :title, "Zdjęcia" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <div class="header">
    <a class="linkhome" href="http://127.0.0.1:3000/">
      <h1 class="title">Shotphoto</h1>
    </a>
    
    <%= link_to "+", new_photo_path, class: "add-photo-button" %>
    <a href="/"></a>
  </div>

  <div id="photos" class="photo-list">
    <% if @photos.any? %>
      <% @photos.each do |photo| %>
        <div class="photo-item">
          <%= render photo %>
          <div class="action-buttons">
            <%= link_to "Pokaż", photo, class: "show-button" %>
            <%= link_to "Edytuj", edit_photo_path(photo), class: "edit-button" %>
            <%= button_to "Usuń", photo, method: :delete, class: "delete-button", data: { turbo_confirm: "Czy na pewno?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="no-photos">Nie znaleziono.</p>
    <% end %>
  </div>
</div>
