<div class="show-photo-container">
  <% if notice.present? %>
    <p class="notice-message" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="show-photo-title">Pokaż posta</h1>

  <%= image_tag url_for(@photo.image), class: "zdjecie" if @photo.image.attached? %>

  <p class="photo-author">Dodane z konta: <%= @photo.user.email %></p>

  <div class="show-photo-buttons">
    <%= link_to "Edytuj", edit_photo_path(@photo), class: "edit-link" %>
    <%= link_to "Powrót", photos_path, class: "back-link" %>
    <%= button_to "Usuń", @photo, method: :delete, form_class: "destroy-form", class: "destroy-button", data: { turbo_confirm: "Are you sure?" } %>
  </div>
</div>
